/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.p-button {
  background: #c2c2c2;
  border: none;
}

.button_save {
  background: #ff385c;
  border: none;
}

.rounded { 
  border-radius: 5px;
  border: 1px solid #dee2e6;
}